prj/fproSampler_Lightsup
prj/IDE.log
prj/mcs_top_sampler_basys3_1024.bit
prj/mcs_top_sampler_basys3_2048.bit
prj/mcs_top_sampler_basys3_4096.bit
prj/mcs_top_sampler_basys3_512.bit
prj/mcs_top_sampler_basys3_8192.bit
prj/mcs_top_sampler_basys3_v1.bit
prj/mcs_top_sampler_basys3_v2.bit
prj/mcs_top_sampler_basys3_v4_demo.bit
prj/RemoteSystemsTempFiles
prj/sort_application
prj/sort_application_system
prj/sort_platform
